{% extends "components/base.html" %}

{% block content %}
<section>
    <h1>Tokens</h1>
    <p>Lista de tokens do usuário.</p>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Token</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens %}
            <tr>
                <td>{{ token['name'] }}</td>
                <td>{{ token['token'] }}</td>
                <td>
                    <a href="#">Copiar</a>
                    <a href="#">Revogar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

</section>



{% endblock %}

{% block script %}
{% endblock %}

