<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/simple.min.css') }}">
</head>
<body>

<header>
    <nav>
        <a href="dashboard" class="current">Dashboard</a>
        <a href="logout">Sair</a>
    </nav>
    <h1>Bem vindo, {{ user['name'] }}</h1>
    <p>Acompanhe o volume de pesquisas de CEP na plataforma.
</header>
