<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title and title != 'PyCEP' %}{{ title }} — PyCEP{% else %}PyCEP — Consulta de CEP rápida e gratuita{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/simple.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

{% block header %}
{% include "components/header.html" %}
{% endblock %}

<main>
    {% block content %}{% endblock %}
</main>

{% block script %}{% endblock %}

{% include "components/footer.html" %}

</body>
</html>
