{% extends "components/admin/base.html" %}

{% block content %}
<main>
    <section>
        <article>
            <h2>Total de Consultas</h2>
            <p>O volume geral de pesquisas realizadas até o momento é de:</p>
            <h3><mark>{{ total_consultas.total }}</mark></h3>
        </article>
    </section>

    <section>
        <h2>Top 5 CEPs Mais Consultados</h2>
        
        {% if top_ceps %}
            <table>
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>CEP</th>
                        <th>Consultas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in top_ceps %}
                    <tr>
                        <td>{{ loop.index }}º</td> 
                        <td><strong>{{ item.cep }}</strong></td>
                        <td>{{ item.usage_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <aside>
                <p>Ainda não há consultas registradas na plataforma.</p>
            </aside>
        {% endif %}
    </section>
</main>
{% endblock %}

{% block script %}
{% endblock %}